# SQLite
SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine.

In [11]:
import sqlite3

conn = sqlite3.connect('mydatabase.db')
print("Opened database successfully")

Opened database successfully

## Create a table

In [12]:
conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print("Table created successfully")

OperationalError: table COMPANY already exists

## Insert record into a table

In [ ]:
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Rona', 31, 'California', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Sly', 25, 'Texas', 15000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Mariz', 23, 'Norway', 20000.00 )");

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Jaymie', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
print("Records created successfully");

Records created successfully

## Select records from a table

In [ ]:
cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3])

ID =  1
NAME =  Rona
ADDRESS =  California
SALARY =  20000.0
ID =  2
NAME =  Sly
ADDRESS =  Texas
SALARY =  15000.0
ID =  3
NAME =  Mariz
ADDRESS =  Norway
SALARY =  20000.0
ID =  4
NAME =  Jaymie
ADDRESS =  Rich-Mond
SALARY =  65000.0

## Update a record in a table

In [ ]:
conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
conn.commit()
print("Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print ("Operation done successfully")

## Delete operation

In [ ]:
conn.execute("DELETE from COMPANY where ID = 2;")
conn.commit()
print ("Total number of rows deleted :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print ("Operation done successfully")

In [ ]:
conn.close()