# Data Cleaning
Data cleaning means fixing bad data in your data set.

Bad data could be:

Empty cells
Data in wrong format
Wrong data
Duplicates

In [23]:
import pandas as pd

df = pd.read_csv('data.csv')

In [24]:
df.head(32)

    Duration            Date  Pulse  Maxpulse  Calories
0         60    '2020/12/01'    110       130     409.1
1         60    '2020/12/02'    117       145     479.0
2         60    '2020/12/03'    103       135     340.0
3         45    '2020/12/04'    109       175     282.4
4         45    '2020/12/05'    117       148     406.0
5         60    '2020/12/06'    102       127     300.0
6         60    '2020/12/07'    110       136     374.0
7         50    '2020/12/08'    104       134     253.3
8         30    '2020/12/09'    109       133     195.1
9         60    '2020/12/10'     98       124     269.0
10        60    '2020/12/11'    103       147     329.3
11        60    '2020/12/12'    100       120     250.7
12        60    '2020/12/12'    100       120     250.7
13        60    '2020/12/13'    106       128     345.3
14        60    '2020/12/14'    104       132     379.3
15        60    '2020/12/15'     98       123     275.0
16        60    '2020/12/16'     98       120     215.2
17        60    '2020/12/17'    100       120     300.0
18        45    '2020/12/18'     90       112       NaN
19        60    '2020/12/19'    103       123     323.0
20        45    '2020/12/20'     97       125     243.0
21        60    '2020/12/21'    108       131     364.2
22        45             NaN    100       119     282.0
23        60    '2020/12/23'    130       101     300.0
24        45    '2020/12/24'    105       132     246.0
25        60    '2020/12/25'    102       126     334.5
26        60      2020/12/26    100       120     250.0
27        60    '2020/12/27'     92       118     241.0
28        60    '2020/12/28'    103       132       NaN
29        60    '2020/12/29'    100       132     280.0
30        60    '2020/12/30'    102       129     380.3
31        60    '2020/12/31'     92       115     243.0

The data set contains some empty cells ("Date" in row 22, and "Calories" in row 18 and 28).

The data set contains wrong format ("Date" in row 26).

The data set contains wrong data ("Duration" in row 7).

The data set contains duplicates (row 11 and 12).

## Empty Cells

Remove Rows
One way to deal with empty cells is to remove rows that contain empty cells.

This is usually OK, since data sets can be very big, and removing a few rows will not have a big impact on the result.

In [25]:
new_df = df.dropna()
print(new_df.to_string())

    Duration            Date  Pulse  Maxpulse  Calories
0         60    '2020/12/01'    110       130     409.1
1         60    '2020/12/02'    117       145     479.0
2         60    '2020/12/03'    103       135     340.0
3         45    '2020/12/04'    109       175     282.4
4         45    '2020/12/05'    117       148     406.0
5         60    '2020/12/06'    102       127     300.0
6         60    '2020/12/07'    110       136     374.0
7         50    '2020/12/08'    104       134     253.3
8         30    '2020/12/09'    109       133     195.1
9         60    '2020/12/10'     98       124     269.0
10        60    '2020/12/11'    103       147     329.3
11        60    '2020/12/12'    100       120     250.7
12        60    '2020/12/12'    100       120     250.7
13        60    '2020/12/13'    106       128     345.3
14        60    '2020/12/14'    104       132     379.3
15        60    '2020/12/15'     98       123     275.0
16        60    '2020/12/16'     98       120     215.2
17        60    '2020/12/17'    100       120     300.0
19        60    '2020/12/19'    103       123     323.0
20        45    '2020/12/20'     97       125     243.0
21        60    '2020/12/21'    108       131     364.2
23        60    '2020/12/23'    130       101     300.0
24        45    '2020/12/24'    105       132     246.0
25        60    '2020/12/25'    102       126     334.5
26        60      2020/12/26    100       120     250.0
27        60    '2020/12/27'     92       118     241.0
29        60    '2020/12/29'    100       132     280.0
30        60    '2020/12/30'    102       129     380.3
31        60    '2020/12/31'     92       115     243.0

If you want to change the original DataFrame, use the inplace = True argument:

In [26]:
df.dropna(inplace=True)
print(df.to_string())

    Duration            Date  Pulse  Maxpulse  Calories
0         60    '2020/12/01'    110       130     409.1
1         60    '2020/12/02'    117       145     479.0
2         60    '2020/12/03'    103       135     340.0
3         45    '2020/12/04'    109       175     282.4
4         45    '2020/12/05'    117       148     406.0
5         60    '2020/12/06'    102       127     300.0
6         60    '2020/12/07'    110       136     374.0
7         50    '2020/12/08'    104       134     253.3
8         30    '2020/12/09'    109       133     195.1
9         60    '2020/12/10'     98       124     269.0
10        60    '2020/12/11'    103       147     329.3
11        60    '2020/12/12'    100       120     250.7
12        60    '2020/12/12'    100       120     250.7
13        60    '2020/12/13'    106       128     345.3
14        60    '2020/12/14'    104       132     379.3
15        60    '2020/12/15'     98       123     275.0
16        60    '2020/12/16'     98       120     215.2
17        60    '2020/12/17'    100       120     300.0
19        60    '2020/12/19'    103       123     323.0
20        45    '2020/12/20'     97       125     243.0
21        60    '2020/12/21'    108       131     364.2
23        60    '2020/12/23'    130       101     300.0
24        45    '2020/12/24'    105       132     246.0
25        60    '2020/12/25'    102       126     334.5
26        60      2020/12/26    100       120     250.0
27        60    '2020/12/27'     92       118     241.0
29        60    '2020/12/29'    100       132     280.0
30        60    '2020/12/30'    102       129     380.3
31        60    '2020/12/31'     92       115     243.0

## Replace Empty Values
Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value:

In [27]:
df.fillna(130, inplace=True)

## Replace Only For Specified Columns
The example above replaces all empty cells in the whole Data Frame.

To only replace empty values for one column, specify the column name for the DataFrame:

In [28]:
df["Calories"].fillna(130, inplace=True)

## Replace Using Mean, Median, or Mode
A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

Calculate the MEAN, and replace any empty values with it:

In [29]:
x = df["Calories"].mean()

df["Calories"].fillna(x, inplace=True)

Calculate the MEDIAN, and replace any empty values with it:

In [30]:
x = df["Calories"].median()

df["Calories"].fillna(x, inplace=True)

Calculate the MODE, and replace any empty values with it:

In [31]:
x = df["Calories"].mode()[0]

df["Calories"].fillna(x, inplace=True)

# Data of Wrong Format
Cells with data of wrong format can make it difficult, or even impossible, to analyze data.

To fix it, you have two options: remove the rows, or convert all cells in the columns into the same format.

In [32]:
df['Date'] = pd.to_datetime(df['Date'])

print(df.to_string())

ValueError: time data "    2020/12/26" doesn't match format "  '%Y/%m/%d'", at position 24. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

Remove rows with a NULL value in the "Date" column:

In [ ]:
df.dropna(subset=['Date'], inplace=True)