# SQLite
SQLite is a software library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine.

In [9]:
import sqlite3

conn = sqlite3.connect('ali.db')
print("Opened database successfully")

Opened database successfully

## Create a table

In [10]:
conn.execute('''CREATE TABLE COMPANY
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')
print("Table created successfully")

Table created successfully

## Insert record into a table

In [11]:
conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (1, 'Rona', 31, 'California', 20000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (2, 'Sly', 25, 'Texas', 15000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (3, 'Mariz', 23, 'Norway', 20000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (4, 'Jaymie', 25, 'Rich-Mond ', 65000.00 )");

conn.commit()
print("Records created successfully")

Records created successfully

## Select records from a table

In [13]:
cursor = conn.execute("SELECT id, name, address, salary , age from COMPANY")

for row in cursor:
   print("ID = ", row[0])
   print("NAME = ", row[1])
   print("ADDRESS = ", row[2])
   print("SALARY = ", row[3])
   print("AGE = ", row[4])

ID =  1
NAME =  Rona
ADDRESS =  California
SALARY =  20000.0
AGE =  31
ID =  2
NAME =  Sly
ADDRESS =  Texas
SALARY =  15000.0
AGE =  25
ID =  3
NAME =  Mariz
ADDRESS =  Norway
SALARY =  20000.0
AGE =  23
ID =  4
NAME =  Jaymie
ADDRESS =  Rich-Mond
SALARY =  65000.0
AGE =  25

## Update a record in a table

In [5]:
conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
conn.commit()
print("Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print ("Operation done successfully")

Total number of rows updated : 5
ID =  1
NAME =  Rona
ADDRESS =  California
SALARY =  25000.0

ID =  2
NAME =  Sly
ADDRESS =  Texas
SALARY =  15000.0

ID =  3
NAME =  Mariz
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Jaymie
ADDRESS =  Rich-Mond
SALARY =  65000.0

Operation done successfully

## Delete operation

In [6]:
conn.execute("DELETE from COMPANY where ID = 2;")
conn.commit()
print ("Total number of rows deleted :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
   print ("ID = ", row[0])
   print ("NAME = ", row[1])
   print ("ADDRESS = ", row[2])
   print ("SALARY = ", row[3], "\n")

print ("Operation done successfully")

Total number of rows deleted : 6
ID =  1
NAME =  Rona
ADDRESS =  California
SALARY =  25000.0

ID =  3
NAME =  Mariz
ADDRESS =  Norway
SALARY =  20000.0

ID =  4
NAME =  Jaymie
ADDRESS =  Rich-Mond
SALARY =  65000.0

Operation done successfully

In [7]:
conn.close()